doctype html
html
	head
		title NodeJs with Express and Jade
		script(src='/javascripts/common/jquery.js')
		script(src='/javascripts/common/bootstrap.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		- include add.jade
		block content
