body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn {
	margin-right: 10px;
	margin-bottom: 10px;
}

.btn-xs {
	margin-bottom: 0;
}

.btn-edit:hover {
	background-color: #5bc0de;
}

.btn-delete:hover {
	background-color: #c9302c;
}

input {
	margin-bottom: 10px;
}